# ignore everything
*

# git stuff
!.gitignore
!LICENCE

# simplemacs init
!init.el

# simplemacs modules
!modules/
!modules/package.org
!modules/aesthetics.org
!modules/notmuch.org
!modules/helm.org
!modules/company.org
!modules/yasnippet.org
!modules/flycheck.org
!modules/irony.org
